<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020 All Rights reserved. Petra Jeffers 301130225 COMP229-Web Application Development Assignment 1.</h6>
    </nav>
  </footer>