<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020 Petra Jeffers 301130225 COMP229-Assignment 1 All Rights reserved.</h6>
    </nav>
  </footer>