<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">This is about me:</h1>
      <p>I am hard working and decicated to excellence!</p>
    </div>
    <p > God leads all my paths.
            I pray for wisdom, strength, courage and the knowledge to know what I can change and what to give to God.
            I constantly strive to be the best version of myself in all aspects of life.
            I inspire others with my actions but never forget the power of my voice.
            With great power is given great responsibilities.
            Its is my mission to live a life of honesty, integrity, unnconditional love and to never lose sight of what is important.
            My children are my JOY.
            I am open to people and opportunities.
            I lead with an open mind.
            I do not fear mistakes.
            I act on my passions.
            I explore the world with curiousity, wonder, and a willingness to always learn and grow.
            I welcome each life experience as an opportunity to learn and grow. 
            I honour my commitments.
            I love to laugh, even at myself anf help others experience joy. 
            I find joy in the little things in life and share that joy.
            I like win win situations.
            I create a welcome environment.
            I use my creativity to help others to accomplish their goals
            I love and appreciate my family and friends.
            I encourage and support loved ones through their triumphs, hardships, and everything in between.
            In being grateful for all that I am given, I seek opportunites to give back to others, and I will always remember my life is blessed and seek to share that with others.
            
            I love myself always
            
           
    
        </p>
        <img src="../Assets/images/Petra.jpeg" width="500" height="400" class="left"/>
   

  </main>
  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>