<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<style>
  Body{
      background-image: url('../Assets/images/img.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  
  <!-- Main Content -->
  <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        
        input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Contact Form</h1>
      
    </div>

    <div class="container">
    <form action="/action_page.php">
    <p>Happy to help! Contact me at petra.jeffers@gmail.com</p>    
    
    </form>
</div>

    <div class="container">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
    
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="cnumber">Contact Number</label>
        <input type="text" id="cnumber" name="contactnumber" placeholder="Your contact number..">

        <label for="eaddress">Email Address</label>
        <input type="text" id="eaddress" name="emailaddress" placeholder="Your email address..">
    
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="africa">Africa</option>
          <option value="australia">Australia</option>
          <option value="carribean">Carribean</option>
          <option value="europe">Europe</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="asia">Asia</option>

        </select>
    
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="button" value="Submit">
      </form>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  