
<style>
Body{
    background-image: url('../Assets/images/img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div>

  <Body>
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">My Personal Mission Statement</h1>
      
    </div>
   
    <p style="color:white">Technology is a whole other world and I need to be a part of it's exploration and creation.
      The innovation and ways it helps ones everyday needs is extremely appealing.
      My imagination and creativity is an assest in this journey on how to make the world 
      a better place through all senses of the tech world.</p>

      <p style="color:white" class="center">Living to be wiser, kinder, stronger!</p>
   
        
  </main>
  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
</Body>
  </div>




