<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">This is the list of Services offered: </h1>
      <li>general programming:</li>
      <img src="../Assets/images/Programming.jpg" width="300" height="250" class="pr-3"/>
      <li>web development:</li>
      <img src="../Assets/images/web-development.jpg" width="300" height="250" class="pr-3"/>
      <li>mobile apps:</li>
      <img src="../Assets/images/Mobile-app-Development.jpg" width="300" height="250" class="pr-3"/>

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>